
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  background-color: #f6f9fc;
  color: #333;
  padding: 20px;
  width: 640px;
  border-radius: 8px;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* Container for the whole content */
.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

/* Dropdown styling */
select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Input box styling */
input[type="text"] {
  width: 380px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
}


/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Box for output */
.output-box {
  padding: 3px;
  border: 1px solid #18191a;
  border-radius: 8px;
  background-color: #87a4a267;
  font-size: 16px;
  min-height: 50px;
  margin-bottom: 20px;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  body {
    max-width: 400px;
  }

  .container {
    padding: 5px;
    max-width: 380px;
  }

  select, input[type="text"] {
    font-size: 14px;
    padding: 8px;
    max-width: 330px;
  }
  .output-box {
    font-size: 14px;
  }
}
