:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ace4df67;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px;
  display: flex;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  body {
    max-width: 100%;
    max-height: 100%;
    margin: 5px;
  }
}

@media (max-width: 330px) {
  body {
    margin: 20px;
  }
}